Bonjour,

Le poste robot {{ vm_name }} a été {% if vm_action == "delete" %}supprimé{% else %}déployé dans le dossier {{ vm_folder }}{% endif %}.

{% if vm_action != "delete" %}
Les caractéristiques du poste sont:
  - Adresse IP: {{ vm_ipmask }}
  - CPU : {{ vm_num_cpus }}
  - Socket : {{ vm_num_cpu_cores_per_socket }}
  - Mémoire : {{ vm_memory_mb }}Mb

{% if rds_users|default('')|length > 0 %}
Les utilisateurs suivants sont membres du groupe 'Utilisateurs du bureau à distance' du poste {{ vm_name}}:
{{ rds_users }}.
{% endif %}
{% else %}
{% if sds_ip_find.changed == true %}
L'adresse IP {{ sds_ip_find.raw_result[0].hostaddr }} associée au nom {{ vm_name }} est supprimée de l'IPAM.
{% endif %}
{% endif %}

Ce message a été envoyé automatiquement par {{ smtp_sender }}. Merci de ne pas y répondre. Si vous désirez des informations complémentaires, merci d'envoyer un message à virtualisation.sg-sep1c@finances.gouv.fr

