Bonjour,

Le poste robot {{ vm_name }} est en cours de création.

Les caractéristiques du poste sont:
  - Réseau:
    - ip: {{ vm_ipmask | ipaddr('address') }}
    - netmask: {{ vm_ipmask | ipaddr('netmask') }}
    - gateway: {{ vm_gateway }}
    - dns_servers:
      - {{ vm_dns_server }}
  - CPU : {{ vm_num_cpus }}
  - Socket : {{ vm_num_cpu_cores_per_socket }}
  - Mémoire : {{ vm_memory_mb }}Mb

{% if rds_users|default('')|length > 0 %}
Les utilisateurs suivants sont membres du groupe 'Utilisateurs du bureau à distance' du poste {{ vm_name}}:
{{ rds_users }}.
{% endif %}

Le poste est déployé selon les propriétées suivantes:
    datacenter: {{ vm_datacenter }}
    datastore: {{vm_datastore }}
    dossier: {{ vm_root_folder }}/{{ vm_service }}/{{ vm_type_folder[vm_type] }}
    cluster: {{ vm_cluster }}
    hardware:
      hotadd_cpu: yes
      hotadd_memory: yes
      hotremove_cpu: yes
    networks:
      - name: {{ vm_net_prod.name }}
      - vlan: {{ vm_net_prod.vlan_id }}


Pour surveiller le déploiement, sur le serveur nubo, taper la commande ci-dessous:
tail -f {{ log_dir }}/ansible.log

Ce message a été envoyé automatiquement par {{ smtp_sender }}. Merci de ne pas y répondre. Si vous désirez des informations complémentaires, merci d'envoyer un message à virtualisation.sg-sep1c@finances.gouv.fr

