Bonjour,

Le poste robot {{ vm_name }} a été déployé.

Les caractéristiques du poste sont:
  - Ip: {{ vm_ipmask | ipaddr('address') }}
  - Masque: {{ vm_ipmask | ipaddr('netmask') }}
  - CPU : {{ vm_num_cpus }}
  - Socket : {{ vm_num_cpu_cores_per_socket }}
  - Mémoire : {{ vm_memory_mb }}Mb

{% if rds_users|default('')|length > 0 %}
Les utilisateurs suivants sont membres du groupe 'Utilisateurs du bureau à distance' du poste {{ vm_name}}:
{{ rds_users }}.
{% endif %}

Merci aux équipes concernées d'effectuer les tâches suivantes dans leur périmètre respectif :
     - Mise à jour des règles de flux,
     - Déplacement du poste dans l'OU de l'Active Directory
     - Mise à jour des groupes WSUS et Antivirus

Ce message a été envoyé automatiquement par {{ smtp_sender }}. Merci de ne pas y répondre. Si vous désirez des informations complémentaires, merci d'envoyer un message à virtualisation.sg-sep1c@finances.gouv.fr

