Bonjour,

{% if vm_info.failed == False %}
Le poste robot {{ vm_name }} a été supprimé.
{% else %}
Le poste {{vm_name }} n'a pas été supprimé.
Message de retour : ' {{ vm_info.msg }} '
{% endif %}


{% if sds_ip_find.changed == true %}
L'adresse IP {{ sds_ip_find.raw_result[0].hostaddr }} associée au nom {{ vm_name }} est supprimée de l'IPAM.
{% endif %}


Merci aux équipes concernées d'effectuer les tâches suivantes dans leur périmètre respectif :
     - Mise à jour des règles de flux,
     - Mise à jour des serveurs WSUS,
     - Retrait de la VM du domaine SOLANO
     

Ce message a été envoyé automatiquement par {{ smtp_sender }}. Merci de ne pas y répondre. Si vous désirez des informations complémentaires, merci d'envoyer un message à virtualisation.sg-sep1c@finances.gouv.fr

