Bonjour,

La vm {{ vm_name }} n'est pas supprimée car son nom ne correspond pas à un nom de poste Robot au format '-{{ vm_basename }}-'.

Ce message a été envoyé automatiquement par {{ smtp_sender }}. Merci de ne pas y répondre. Si vous désirez des informations complémentaires, merci d'envoyer un message à virtualisation.sg-sep1c@finances.gouv.fr

